RandomWebBrowsing.Models/Generated/feed.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="feed" type="atom:feedType" xmlns:atom="http://www.w3.org/2005/Atom"/>

  <xs:complexType name="feedType">
    <xs:sequence>
      <xs:element type="atom:categoryType" name="category" xmlns:atom="http://www.w3.org/2005/Atom"/>
      <xs:element type="xs:dateTime" name="updated"/>
      <xs:element type="xs:string" name="icon"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="atom:linkType" name="link" maxOccurs="unbounded" minOccurs="0" xmlns:atom="http://www.w3.org/2005/Atom"/>
      <xs:element type="xs:string" name="logo"/>
      <xs:element type="xs:string" name="subtitle"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="atom:entryType" name="entry" maxOccurs="unbounded" minOccurs="0" xmlns:atom="http://www.w3.org/2005/Atom"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="categoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="term" use="optional"/>
        <xs:attribute type="xs:string" name="label" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="linkType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="rel" use="optional"/>
        <xs:attribute type="xs:string" name="href" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="entryType">
    <xs:sequence>
      <xs:element type="atom:authorType" name="author" xmlns:atom="http://www.w3.org/2005/Atom"/>
      <xs:element type="atom:categoryType" name="category" xmlns:atom="http://www.w3.org/2005/Atom"/>
      <xs:element type="atom:contentType" name="content" xmlns:atom="http://www.w3.org/2005/Atom"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="atom:linkType" name="link" xmlns:atom="http://www.w3.org/2005/Atom"/>
      <xs:element type="xs:dateTime" name="updated"/>
      <xs:element type="xs:string" name="title"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="uri"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
